<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bricks Example</title>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <style>
.grid-item { width: 200px; background: #ECC; }
.grid-item--width2 { width: 400px; background: #CCC; }
</style>

</head>
<body>
<h1>Bricks Example (like JQuery Masonry)</h1>
<div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>

<script>
    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});


</script>


</body>
</html>