<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bricks Example</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <style>
        .item { width: 50px ; height: 50px ; padding: 5px; border: 1px solid #333; float: left; background: #2296DD }
.grid-item--width3 { width: 50px; height: 50px; background: #DDD; }
.grid-item--width1 { width: 150px; height: 50px; background: #CCC; }
        .grid-item--width2 { width: 150px; height: 150px; background: #ACC; }
</style>

</head>
<body>
<h1>Bricks Example (like JQuery Masonry)</h1>
<div id="grid">
  <div class="item">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
        <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item grid-item--width1">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item grid-item--width1">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
        <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
        <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
    <div class="item">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
        <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item grid-item--width1">...</div>
    <div class="item">...</div>
    <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item">...</div>
        <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item grid-item--width1">...</div>
  <div class="item">...</div>
      <div class="item">...</div>
        <div class="item grid-item--width1">...</div>
  <div class="item grid-item--width3">...</div>
  <div class="item">...</div>
        <div class="item">...</div>
      <div class="item">...</div>
  <div class="item grid-item--width2">...</div>
  <div class="item grid-item--width1">...</div>
</div>

</body>
</html>

<script>
    $('.grid').masonry({
  // options
  itemSelector: '.item',
  columnWidth: 200
});


</script>