<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baguettebox Example</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.js"></script>
<script type="text/javascript">
baguetteBox.run('.gallery', {
        captions: true,
        buttons: 'auto',
        fullScreen: false,
        noScrollbars: false,
        titleTag: true,
        async: false,
        preload: 2,
        animation: 'fadeIn',
        afterShow: function() {
            alert('Thanks');
        },
        afterHide: function() {
            alert('Watch again');
        },
        onChange: null,
        overlayBackgroundColor: 'rgba(113,117,115,0.8)'
    });
</script>
<style>
    .gallery {
        width: 1300px;
        margin: 50px auto;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 23%;
    }
    </style>
</head>
<body>
<h1>Baguettebox Example</h1>

<div class="gallery">
    <a href="http://via.placeholder.com/350x150" data-caption="Image caption">
        <img src="http://via.placeholder.com/350x150" alt="First image">
    </a>
    <a href="http://via.placeholder.com/350x150">
        <img src="http://via.placeholder.com/350x150" alt="Second image">
    </a>
    ...
</div>

</body>
</html>