<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baguettebox Example</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://github.com/feimosi/baguetteBox.js/tree/dev/src/baguetteBox.scss">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script src="https://cdnjs.com/libraries/baguettebox.js"></script>
<script src="https://github.com/feimosi/baguetteBox.js/tree/dev/src/baguetteBox.js" async></script>

</head>
<body>
<h1>Baguettebox Example</h1>

<div class="gallery">
    <a href="img/2-1.jpg" data-caption="Image caption">
        <img src="/static/baguettebox/IMG_3018.JPG" alt="First image">
    </a>
    <a href="img/2-2.jpg">
        <img src="/static/baguettebox/IMG_3019.jpg" alt="Second image">
    </a>
    ...
</div>
<script>
baguetteBox.run('.gallery');
</script>
</body>
</html>