<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baguettebox Example</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.js"></script>


<style>
    .gallery {
        width: 1300px;
        margin: 50px auto;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 23%;
    }
    </style>
</head>
<body>
<h1>Baguettebox Example</h1>

<div class="gallery">
    <a href="https://www.pexels.com/photo/nature-red-love-romantic-67636" data-caption="Image caption">
        <img src="https://www.google.co.th/imgres?imgurl=http%3A%2F%2Fsc01.alicdn.com%2Fkf%2FHTB1cJtJLXXXXXaKXpXXq6xXFXXXV%2FDistort-Enterprises-Timelord-1.jpg&imgrefurl=https%3A%2F%2Fwww.alibaba.com%2Fproduct-detail%2FDistort-Enterprises-Timelord-1_12004410.html&docid=B24XFrPK5nZExM&tbnid=vZ7i9FQBtaG_yM%3A&vet=10ahUKEwjuyfev1ufWAhXIslQKHenoBjkQMwglKAEwAQ..i&w=360&h=240&client=safari&bih=707&biw=1366&q=distort%20snowboards&ved=0ahUKEwjuyfev1ufWAhXIslQKHenoBjkQMwglKAEwAQ&iact=mrc&uact=8" alt="First image">
    </a>
    <a href="https://www.pexels.com/photo/red-garden-plant-green-56866" data-caption="Image caption">
        <img src="https://www.pexels.com/photo/red-garden-plant-green-56866" alt="Second image">
    </a>
    ...
</div>
<script>
window.onload = function() {
    baguetteBox.run('.gallery');
    }
    </script>
</body>
</html>