<!DOCTYPE html>
<html>
<title>Median House Prices in My Area</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
< class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  < class="w3-row-padding">

      <div class="w3-container">

         <div class="w3-container w3-card-2 w3-green w3-margin-bottom">
        <h5 class="w3-text-black w3-padding-16"><i
                class="fa fa-money fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>
            AUS =<b id="update11">USD {{ FIXERUSD }}</b>  AUS =<b id="update12"> GBP
            {{ FIXERGBP }}</b></H5>


</div>
</div>

       <div class="w3-container">

         <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h5 class="w3-text-grey w3-padding-16"><i class="fa fa-home fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Current 4 Bedroom House Median Price in Cheltenham</H5>
<div class="w3-container"><p><b id="update1">{% for each in REFINEDCHELT %}
    <H4>{{ each }}</H4></b>Price has changed by</p>

{% endfor %}
</div>
         </div>
       </div>

       <div class="w3-container">

         <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h5 class="w3-text-grey w3-padding-16"><i class="fa fa-home fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Current 4 Bedroom House Median Price in Mentone</H5>
<div class="w3-container"><p><b id="update2">{% for each in REFINEDMENT %}
    <H4>{{ each }}</H4></b>Price has changed by</p>

{% endfor %}
</div>
         </div>
       </div>

<div class="w3-container">

         <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h5 class="w3-text-grey w3-padding-16"><i class="fa fa-home fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Current 4 Bedroom House Median Price in Parkdale</H5>
<div class="w3-container"><p><b id="update3">{% for each in REFINEDPARK %}
    <H4>{{ each }}</H4></b>Price has changed by</p>

{% endfor %}
</div>
         </div>
</div>

<div class="w3-container">

         <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h5 class="w3-text-grey w3-padding-16"><i class="fa fa-home fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Current 4 Bedroom House Median Price in Beaumaris</H5>
<div class="w3-container"><p><b id="update4">{% for each in REFINEDBEAU %}
    <H4>{{ each }}</H4></b>Price has changed by</p>

{% endfor %}

    </div>
         </div>
</div>

      {% for each in TICKERS %}
      <div class="w3-container">

         <div class="w3-container w3-card-2 w3-orange w3-margin-bottom">
        <h5 class="w3-text-black w3-padding-16"><i
                class="fa fa-btc fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>{{ each }} =<b id="update5">${{
            TICKERS[each] }}
        </b></H5>

</div>
</div>
      {% endfor %}
    </div>
</div>
</body>
</html>

