<!DOCTYPE html>
<html>
<title>Ben Willett</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

       <div class="w3-container">

          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"><H5>Current 4 Bedroom House Median Price in Cheltenham</H5>
<p><b>{% for each in REFINEDCHELT %}
    {{ each }}</b> Price has changed by {{ CHANGE }}</p>

{% endfor %}

<H5>Current 4 Bedroom House Median Price in Mentone</H5>
<p><b>{% for each in REFINEDMENT %}
    {{ each }}</b></p>

{% endfor %}

<H5>Current 4 Bedroom House Median Price in Parkdale</H5>
<p><b>{% for each in REFINEDPARK %}
    {{ each }}</b></p>

{% endfor %}

<H5>Current 4 Bedroom House Median Price in Beaumaris</H5>
<p><b>{% for each in REFINEDBEAU %}
    {{ each }}</b></p>

{% endfor %}
  </div>
</div>